.hero-banner {
    padding: 150px 0px;
  }

  .hero-body {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .social-title {
    display: flex;
    align-items: flex-start;
    }

  .title p {
    transform: rotate(-90deg);
  }
  .title p {
    padding: 5px 10px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #1d293a;
    transform-origin: 30%;
    border-radius: 4px;
    margin: 0px -45px; 
    margin-top: 200px;
  }

  .intro-content.ml-5 {
    padding-left: 10%;
  }
  .welcome-title{
   font-size: 2vw;
  }

  .welcome-title h1{
    font-size: 4vw;
    line-height: 85px;
    font-weight: 700;
    letter-spacing: 2px;
    margin: 0px auto 25px;
    color: #fff;
    text-transform: uppercase;
  }

  .designation-list {
    margin-left: -40px;
  }

  .designation-list ul li {
    list-style: none;
    margin: 0 21px;
    display: inline-block;
    font-size: 1vw;
  }
  
  .designation-list ul {
    position: relative;
  }
  
  .designation-list ul li::before {
    position: absolute;
    content: '';
    height: 11px;
    width: 8px;
    margin: 2px -15px;
    top: 6px;
    background-color: aqua;
  }

  .btn-special a:hover{
    color: black!important;
  }

  @media (max-width: 600px) {
    .welcome-title {
      font-size: 1rem;
     }
     .designation-list ul li {
       font-size: 1rem;
     }
     .welcome-title h1{
       font-size: 5vw;
     }
    }