.skill .nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #111a28;
  background-color: var(--color-accent);
}

.skill .nav-pills .nav-link {
  border-radius: 0.25rem;
  border: 1px solid var(--color-accent);
  color: white;
  margin-right: 15px;
  margin-bottom: 15px;
}

.skill .nav-link {
  display: block;
  padding: 0.6rem 1rem;
}
