.navbar-nav li.nav-item {
    margin: 5px 15px;
    padding: 5px;
  }

  .logo {
    background-image: url(../../assets/images/portfolioicon.png);
    background-size: cover;
    background-position: center;
    height: 80px;
    width: 100px;
    background-position: right 70% top 30%;
  }

  .navbar{
    background-color: #111a28;
  }